*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
//------------------------------
$TitleColor: #898f8f;
$SubTitleColor: #ffcc00;
//------------------------------
@mixin flexible() {
  display: flex;
  align-items: center;
}
@mixin font-styles($property1, $property2, $property3, $property4) {
  font-size: $property1;
  font-weight: $property2;
  line-height: $property3;
  font-family: $property4;
}
@mixin sizing($property1, $property2) {
  width: $property1;
  height: $property2;
}
//-------------------------------
.conteiner {
  width: 1170px;
  margin: 0 auto;
}
.header {
  width: 100%;
  @include flexible();
  flex-direction: column;
  text-transform: uppercase;

  &__title {
    @include sizing(314px, 14px);
    @include font-styles(18px, 500, 24px, "Raleway");
    color: $TitleColor;
    margin-top: 112px;
  }
  &__sub-title {
    @include sizing(320px, 45px);
    @include font-styles(60px, 400, 66px, "Roboto - Black");
    color: $SubTitleColor;
    margin-top: 18px;
  }
  &__separator {
    margin-top: 45px;
    text-align: center;
    width: 80%;
    overflow: hidden;
  }
}
.dash {
  position: relative;
  &::before,
  &::after {
    display: block;
    width: 210px;
    content: "";
    position: absolute;
    border-bottom: 4px solid #ffcc00;
    top: 35%;
    right: 20px;
  }
}
.profile {
  display: flex;
  flex: 0 0 50%;
  width: 100%;
  &__photo {
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
    padding-top: 50px;
  }
  &__photo {
    border-right: 5px solid $SubTitleColor;
  }
  &__info {
    @include flexible();
    flex: 0 0 50%;
    flex-direction: column;
  }
  &__name {
    @include sizing(241px, 28px);
    @include font-styles(36px, 400, 24px, "Roboto - Black");
    color: $TitleColor;
    letter-spacing: 0.72px;
    margin-top: 100px;
  }
  &__position {
    @include sizing(220px, 23px);
    @include font-styles(24px, 400, 36px, "Raleway");
    color: $TitleColor;
    margin-top: 33px;
  }
  &__social {
    margin-top: 33px;
  }
  &__summary {
    @include sizing(416px, 109px);
    @include font-styles(14px, 500, 24px, "Raleway");
    color: $TitleColor;
    text-align: center;
    margin-top: 39px;
  }
  &__full {
    @include sizing(140px, 25px);
    @include font-styles(14px, 700, 24px, "Open Sans");
    color: $TitleColor;
    text-transform: uppercase;
    border: 2px solid #ffcc00;
    margin-top: 59px;
  }
}
.photo__pic {
  border: 2px solid $SubTitleColor;
}
.social__icon {
  @include sizing(30px, 30px);
  color: #cccccc;
}
