* {
  margin: 0;
  padding: 0;
}
body {
  background: grey;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
}
.item-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.products {
  padding: 28px 0;
  display: grid;
  grid-template-columns: 462px 462px 462px;
  grid-template-rows: 360px 360px 580px;
  gap: 28px 28px;
  grid-template-areas:
    "first first sec"
    "first first third"
    "forth fifth sixth";
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 425px);
  grid-template-rows: repeat(2, 425px);
  gap: 0px 0px;
  background: #000;

  /* background: rgba(0, 0, 0, 0.918); */
  grid-template-areas:
    "item__first item__second item__thirth item__forth"
    "item__item__fith item__sixth item__seven item__eight";
}
.item {
  opacity: 0.5;
}
.item-first {
  grid-area: first;
}
.item-sec {
  grid-area: sec;
}
.item-third {
  grid-area: third;
}

.item-forth {
  grid-area: forth;
}
.item-fifth {
  grid-area: fifth;
}
.item-sixth {
  grid-area: sixth;
}
